*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

img{
    width: 583px;
    height: 374px;
    display: flex;
    margin: 20px auto;
}

main{
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #ffffff;
}

input{
    background-color: #ffffff24;
    margin: 20px;
    width: 400px;
    height: 70px;
    border-radius: 15px;
    appearance: none;
    padding: 10px;
    border: none;
    outline: none;
    -moz-appearance: textfield;
    color:#ffffff;
    
}

button{
    margin: 15px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    background-color: #AEC346;
    width: 342px;
    height: 72px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(174, 195, 70, 0.8); 
}

button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.6;
}